header#main-header {
  position: absolute;
  width: 100%;
  height: 60px;
  font-size: 20px;
  display: flex;
}

body {
  background: #a67af7;
}

#art {
  margin-left: 200px;
  width: 15%;
}
#science {
  margin-right: 100px;
  margin-left: 50px;
  width: 15%;
}
#history {
  margin-left: 300px;
  width: 15%;
}
